//Fonts
$title-font: "Montserrat Bold", sans-serif;
$title-description-font: "Kaushan Script", sans-serif;
$elements-font: "Montserrat Regular", sans-serif;
$text-font: "Roboto", sans-serif;

//Colors
$light-text: #fff;
$dark-text: #333;
$medium-text: #999;
$main-theme-color: #95e1d3;
$secondary-color: #f38181;
$nav-active-links: #fce38a;
$gradient: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
